body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font: times;
    background-image: linear-gradient(to right, black, white);
}
#Title {
    color: white;
}
#subTitle {
    color: white;
}