body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0; 
    font-family: "Times New Roman", Times, serif; 
    background-image: linear-gradient(to right, black, white);
}
#Title {
    font-weight: bolder;
    font-size: xx-large;
    background-image: linear-gradient(to right, white, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .3px black;
}
#subTitle {
    color: white;
    font-style: italic;
}
.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#button {
    
}