body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0; 
    font-family: "Times New Roman", Times, serif; 
    background-image: linear-gradient(to right, black, white);
}
#Title {
    color: white;
    font-weight: bolder;
    font-size: xx-large;
}
#subTitle {
    color: white;
    font-style: italic;
}
.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#button {
    
}